<header class="border-bottom border-3 border-danger">
  <nav class="navbar navbar-light d-flex estilo p-4 shadow rounded" style="background-color: #f3f3f3;">
    <div class="col-4 d-flex justify-content-center">
      <a href="" class="navbar-brand">LOGOTIPO</a>
    </div>
    <div class="col-6 d-flex justify-content-center mx-2">
      <!-- Edit routerLinkActive when all links are done -->
      <a routerLink="/ownership" routerLinkActive="active" class="navbar-brand">INICIO</a>
      <a routerLink="/ownership" routerLinkActive="active" class="navbar-brand">INMOBILIARIA</a>
      <!-- 
      <a routerLink="" routerLinkActive="active" class="navbar-brand">VENTANAS</a>
      <a routerLink="" routerLinkActive="active" class="navbar-brand">LIMPIEZAS</a>
      -->
    </div>
  </nav>
</header>