<header>
  <nav class="navbar navbar-light row d-flex estilo p-4" style="background-color: #d6d6d6;">
    <div class="col-4 d-flex justify-content-center">
      <a href="" class="navbar-brand">LOGOTIPO</a>
    </div>
    <div class="col-6 d-flex justify-content-center mx-2">
      <a href="" class="navbar-brand">INICIO</a>
      <a href="" class="navbar-brand">INMOBILIARIA</a>
      <a href="" class="navbar-brand">VENTANAS</a>
      <a href="" class="navbar-brand">LIMPIEZAS</a>
    </div>
  </nav>
</header>