<app-header></app-header>
<app-carousel></app-carousel>
<div class="imgBackground">
<section class="row mx-5 justify-content-between">
    <!-- <div *ngFor >
        <article>

        </article>
    </div> -->
    <div class="my-2 text-left">
        <button class="btn btn-rounded border-2 border-dark" style="background-color: #cfcfcf;" type="button" [routerLink]="['/ownership/form']">Crear imbueble</button>
    </div>
    <article *ngFor="let ownership of ownerships"
        class="border border-2 border-black rounded col-3 mx-5 mt-5 text-center pt-4 justify-content-center shadow  mb-5 rounded"
        style="background-color: #f3f3f3;">
        <img *ngIf="ownership?.photo" src="http://localhost:8080/api/uploads/img/{{ownership.photo}}" alt="{{ownership.photo}}" class="border border-2 shadow-sm p-1 bg-body rounded imgOwnership">

        <div class="m-4 text-start">
            <ul class="list-group border border-2">
                <li class="list-group-item">
                    <div class="row">
                        <div class="d-inline col-6">Operación</div>
                        <div class="d-inline col-6">{{ ownership.operation }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="d-inline col-6">Tipo de inmueble</div>
                        <div class="d-inline col-6">{{ ownership.kindOwnership }}</div>
                    </div>
                </li>
                <li class="list-group-item ">
                    <div class="row">
                        <div class="d-inline col-6">Habitaciones</div>
                        <div class="d-inline col-6">{{ ownership.bedrooms }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="d-inline col-6">Zona</div>
                        <div class="d-inline col-6">{{ ownership.zone }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="d-inline col-6">Precio</div>
                        <div class="d-inline col-6">{{ ownership.price }} $</div>
                    </div>
                </li>
            </ul>
            <button type="button" name="button" [routerLink]="['/ownership/detail', ownership.id]" class="btn btn-rounded border-2 border-dark" style="background-color: #d1aeff;">Subir foto</button>
            <button type="button" name="button" [routerLink]="['/ownership/form', ownership.id]" class="btn btn-rounded border-2 border-dark mx-2" style="background-color: #cfcfcf;">Editar</button>
            <button type="button" name="button" (click)='deleteOwnership(ownership)' class="btn btn-rounded border-2 border-dark" style="background-color: #ff6464;">Borrar</button>
        </div>
    </article>
</section>
</div>