<div class="card bg-dark text-white">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <ul *ngIf="ownership" class="list-group text-dark mb-3">
                        <li class="list-group-item">{{ ownership.operation }}</li>
                        <li class="list-group-item">{{ ownership.kindOwnership }}</li>
                        <li class="list-group-item">{{ ownership.bedrooms }}</li>
                        <li class="list-group-item">{{ ownership.zone }}</li>
                        <li class="list-group-item">{{ ownership.price }} $</li>
                    </ul>
                    <div class="input-group">
                        <input (change)="selectPhoto($event)" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Seleccionar foto">
                        <button (click)="uploadPhoto()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir foto</button>
                      </div>
                </div>
                <div class="col-sm">
                    <img *ngIf="ownership?.photo" src="http://localhost:8080/api/uploads/img/{{ownership.photo}}" alt="{{ownership.photo}}" class="img-thumbnail rounded" >
                </div>
            </div>
        </div>
    </div>
</div>